html{
    scroll-behavior: smooth;
}
body{
    font: 30px Poppins, sans-serif;
    line-height: 0.8;
    color: purple;
}
.carousel-inner{
    width: 100%;
}
.carousel-item{
    height: 500px;
}
.carousel-item img{
    width: 100%;
    height: 500px;
    position: absolute;
    object-fit: cover;
    margin-top: 0;
    margin-left: 0;
    min-height: 500px;
}

#gallery-lightbox{
    margin-top: 10px;
}

#gallery-lightbox img{
    height: 350px;
    object-fit: cover;
    cursor: pointer;
}

#gallery-lightbox img:hover{
    opacity: 0.9;
    transition: 0.5s ease-out;
}

.navbar{
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}